@model IEnumerable<ExpoCenter.Mvc.Models.EventoGridViewModel>

<h4>Eventos</h4>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Selecionado)
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.CheckBox($"Eventos[{i}].Selecionado", item.Selecionado)
                    @Html.Hidden($"Eventos[{i++}].Id", item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
            </tr>
        }
    </tbody>
</table>
